In [2]:
*datatypes in python
#set
print({1,4,6,7,"shraddha"})

SyntaxError: invalid syntax (888783933.py, line 1)

In [1]:
#list
list1=[2,"shrau",45,89,9]
print(list1)

[2, 'shrau', 45, 89, 9]

In [4]:
#tuple
tuple1=(3,6,8,"om")
print(tuple1)

(3, 6, 8, 'om')

In [5]:
#dictionary
dict1={1:"shraddha"}
dict2={2:"satyam"}
print(dict1)

{1: 'shraddha'}

In [ ]:
#complex
e.g=3+6j

In [6]:

#variables
a=3
b=3

In [7]:
id(a)
id(b)

140711804978024

In [8]:
a,b,c=4

TypeError: cannot unpack non-iterable int object

In [9]:
a=b=c=4

In [10]:
student1="ram"
student2="lakhan"

In [11]:
print(student1)
print(student2)

ram
lakhan

In [12]:

#keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [13]:
print(len(keyword.kwlist))

35

In [ ]:
_=5                                            # we can use _ as identiier name

In [14]:
print(_)

140711804978024

In [15]:

#input()
input()

 45

'45'

In [ ]:
num1=input()
print(num1)

In [ ]:
num2=input()
print(num2)

In [1]:
print(num1+num2)

NameError: name 'num1' is not defined

In [2]:
num1=int(input())
num2=int(input())
print(num1+num2)

 45
 45

90

In [3]:
a=4
b=6
print(a+b)

10

In [4]:
#conversion
#    to integer
int(True)

1

In [5]:
int(False)

0

In [6]:
int("shraddha")

ValueError: invalid literal for int() with base 10: 'shraddha'

In [7]:
int(23)

23

In [8]:
int(4.7)

4

In [9]:
int("1234")

1234

In [10]:

#     to float
float(10.7)

10.7

In [11]:
float("shraddha")

ValueError: could not convert string to float: 'shraddha'

In [12]:
float(10)

10.0

In [13]:
float(True)

1.0

In [14]:
float(False)

0.0

In [15]:
float(3+6k)

SyntaxError: invalid decimal literal (1798870391.py, line 1)

In [16]:

#     to string
str(10)

'10'

In [17]:
str("shraddha")

'shraddha'

In [18]:
str(4.7)

'4.7'

In [19]:
str(True)

'True'

In [20]:
str(3+5j)

'(3+5j)'

In [21]:

#    to boolean
bool(28)

True

In [22]:
bool("shraddha")

True

In [23]:
bool("")

False

In [24]:
bool(" ")

True

In [25]:
bool(0)

False

In [26]:
bool("0")

True

In [27]:
#operator
#arithmetical operator
print(10+2)                          #addition
print(10-2)                          #substraction
print(10*2)                          #mul
print(10/2)                          #div
print(10%2)                          #mod (gives reminder)
print(10//2)                         #floor division (it gives main digit before decimal point
print(3**2)                          #exponent

12
8
20
5.0
0
5
9

In [ ]:


#take a 3 digit no and print its addition
num=int(input())
a=num%10
num=num//10
b=num%10
c=num/10